<div class="component">
    <div class="form-head">
      <div class="form-box">
        <div class="type" fxLayout="row"></div>
        <button type="button" class="toggle-btn" routerLink="/login" ><strong>LOGIN</strong></button>
        <button type="button" class="toggle-btn" ><strong>SIGNUP</strong></button>
        <hr id="Indicator" />
      </div>
      <form id="signup" class="input-group"   [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <input type="text" class="input-field"  formControlName="FullName"  placeholder="FullName" required />
        <input type="text" class="input-field" formControlName="Email" placeholder="Email"  required />
        <input type="text" class="input-field" formControlName="Password" placeholder="Password"  required />
        <input type="text" class="input-field"  formControlName="PhoneNumber" placeholder="Mobile No" required />
        <button type="submit" class="submit-btn">Sign Up</button>
      </form>
    </div>



    <div class="containter" fxHide.xs="true" fxHide.sm="true">
      <div class="header">
        <div class="img-box" fxHide.xs="true" fxHide.sm="true">
          <img class="online" src="../../../assets/Shopping.jpeg" />
          <span class="text-online"><strong>ONLINE BOOK SHOPPING</strong></span>
        </div>
      </div>
    </div>
  </div>