.User-table{
    width:70%;
     margin-left: 150px;
}

table,tr, td {
    border: 1px solid lightgray;
}

th{
    background-color: whitesmoke;
}
.continuebutton{
    background-color:#3371B5;
    color: white;
    border: none;
    margin-top: 40px;
    width: 200px;
    height: 40px;
    text-align: center;
    justify-content: center;
}

.orderlist{
    text-align: center;
}