<div fxLayout="column" class="orderlist" fxLayoutAlign="center center">
    <div>
        <img src="./../../../assets/placeOrder.png" alt="">
    </div>
    <div  fxLayout="column" fxLayoutAlign="center center">
       
        <h3 fxLayout="column" fxLayoutAlign="center center">hurray!!! your order is confirmed <br> the order id is #123456 save the order id for <br> further communication  </h3>
    </div>
    <div>
        <table  class="User-table" >
            <tr fxLayoutGap="0px">
                <th style="text-align:center">Email</th>
                <th style="text-align:center">Contact us</th>
                <th style="text-align:center">Address</th>
            </tr>

            <td style="text-align:center">sukant@gmail.com</td>
           
            <td style="text-align:center">+91 9204042493</td>

            <td style="text-align:center">Smriti Nagar Bhilai</td>

        </table>
    </div>
    <div>
        <button mat-flat-button class="continuebutton" color="primary" routerLink="/dashboard/books">
            Continue shopping</button>
    </div><br>
</div>
