<div class="basetext">Books<span style="color:rgb(172, 169, 169);margin-left:3px;">({{BooksList.length}} items)</span></div>
<div class="container" >
  

    <div class="note" *ngFor="let book of BooksList ">
      <div (click)="bookid(book)">
        
          <mat-card class="card" style="width: 240px;  padding: 0px;" class="example-card">
            <div  class="cartd-title "> <img src={{book.bookImage}} class="productimage"/></div>
            
            <div class="abc">
            <mat-card-title  class="card-title product">{{book.bookName}}</mat-card-title>
            <mat-card-title  class="author">By {{book.authorName}}</mat-card-title>
              
            <div class="ratingbadge">
                <div class="badge">{{book.totalRating}} <img src="../../../assets/starr.png" class=star> </div>
                <div style="color:black;margin-left: 4px;">({{book.ratingCount}}) </div>
                </div>

            <div  class="price"> <strong>Rs. {{book.discountedPrice}} /-</strong>   <span class="discountedprice" >   Rs. {{book.actualPrice}}</span></div>
                </div><br>
          </mat-card>
        </div>
      </div>
    </div>