.container {
    width: 80%;
    display:flex;
    flex-flow: wrap;
    justify-content: start;
    margin-top: 2%;
    margin:auto;
}

.note{
    margin:10px;

}
.card{
    text-align: left;
    justify-content: start;
    padding-left: 3px;
    margin-bottom: 0;
    margin-left: 20px;
}

.card-title{
    font-size: 15px; 
    padding:10px;
}

.card-describe{
    font-size: 16px;
    padding:10px;
}

.note-icons{
    margin-top:10%;
}

.productimage{
    height: 160px;
    width:130px;
    margin-left: 55px;
    margin-top:10px;
}

.author{
    font-size: 14px;
    color:gray;
    margin-left: 10px;
}
.abc{
    text-align: center;
}

.discountedprice{
    margin-left:10px;
    text-decoration: line-through;
    color:rgb(53, 50, 50);
}

.badge{
    height: 20px;
    width:40px;
    background-color: green;
    color:white;
    margin-left:86px;
}
.star{
    height: 14px;
    width: 14px;
    margin-top: 2px;
}

.ratingbadge{
    display: flex;

}
.price{
    margin-top: 5px;
    
}
.basetext{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 150px;
    
}