
<div class="container">
    <div class="basetext"><span style="color:#aaa6a6">Home/</span>My Order</div>


    <div *ngFor="let book of OrderArray">

        
        <mat-card class="card">

            

            <div class="maincard">
        <div class="leftcard">
            <img src={{book.bookImage}} id="bookimage">
        </div>

                <div class="rightcard">
                    <div class="card-title">{{book.bookName}}</div>
                    <div  class="author">By {{book.authorName}}</div>
                    <div  class="card-title"><span></span> <strong>Rs. {{book.totalPrice}} /-</strong>   </div>
                 
                </div>

                <div>
                    <mat-card-title class="card-order">Order Placed On {{book.orderDate| date}}</mat-card-title>
                </div>



            </div>
            
            </mat-card>
    
