<div class="head marginmain">
    <p id="move"><img src="../../../assets/book.svg" id="img">Book Store</p>
  </div>
  <br>
  <h1 class="forgotcenter">Reset Your  Password?</h1>
  
  <div class="card ">
    <mat-card class="example-card">
        <form  [formGroup]="resetForm" (ngSubmit)="onSubmit()">
          <br>
          <div >
            <p class="pass">Enter Your Password To change<br>Your Password </p>
          </div>
          <div class="email-container">
            <mat-form-field appearance="outline" class="email">
               <mat-label>New Password</mat-label>
                <input matInput placeholder="new password" formControlName="Password" >
                <mat-error>enter valid password</mat-error>
              </mat-form-field>     
        </div>
        <p class="pass">Use 8 or more characters with a mix of letters, numbers & symbols</p>
        <div class="email-container">
            <mat-form-field appearance="outline" class="email">
               <mat-label>Confirm-Password</mat-label>
                <input matInput placeholder="confirmPassword" formControlName="ConfirmPassword">
                <mat-error>Password-Not Match Try Different</mat-error>
              </mat-form-field>     
        </div>
        <button type="submit" class="submit-btn">Change Password</button>
            
        <div class="link">
            <a class="line4">Forgot Password?</a>
        </div>
        </form>
